body {
  color: #000000;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 0.98rem;
}

header {
  background: linear-gradient(to right, #a05dea, #e67e22);
}

.bg-grad {
  background: linear-gradient(96deg, rgb(160, 93, 234) 0%, rgb(230, 126, 34) 100%);
}

.bg-purple {
  background-color: #a05dea;
}

h1, h2, h3, h4, h5 {
  font-family: "Manrope", sans-serif;
}

h2 {
  font-weight: 800;
}

h5 {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.text-orange {
  color: #ff9800;
}

.text-blue {
  color: #7d09b2;
}

.text-small {
  font-size: 75%;
}

.main-body {
  height: calc(100vh - 70px);
  background: url("../images/main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
}
.main-body:after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dashboard-uploadBord {
  width: 750px;
  height: 500px;
  position: fixed;
  border-radius: 5px;
  overflow: hidden;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
}
.dashboard-uploadBord h3 {
  font-weight: 800;
  font-size: 1.5rem;
}
.dashboard-uploadBord .left-panel {
  height: 100%;
  padding: 15px;
  width: 45%;
  background-color: #4a1d9e;
  float: left;
  position: relative;
}
.dashboard-uploadBord .left-panel h5 {
  border-bottom: solid 1px #7a46db;
}
.dashboard-uploadBord .left-panel .remove-images {
  position: absolute;
  bottom: 30px;
  left: 25%;
}
.dashboard-uploadBord .left-panel .img-thumbnail {
  padding: 0.05rem;
}
.dashboard-uploadBord .right-panel {
  height: 100%;
  padding: 15px 30px;
  width: 55%;
  background-color: rgb(255, 255, 255);
  float: left;
}
.dashboard-uploadBord .right-panel .btn {
  width: 120px !important;
}
.dashboard-uploadBord .right-panel .form-box {
  float: left;
  width: 100%;
  position: relative;
}
.dashboard-uploadBord .right-panel .form-box .form-control {
  font-size: 16px;
  outline: none;
  color: #535353;
  border-radius: 100px;
  border: 1px solid #b6b5b5;
  padding: 14.5px 45px 14.5px 20px;
}
.dashboard-uploadBord .right-panel .form-box i {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 20px;
  color: #535353;
}

.dashboard {
  height: calc(100vh - 70px);
  background: url("../images/Fraud-Prevention.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  position: relative;
}
.dashboard:after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.dashboard .login-dashboard {
  border: solid 1px #dfaddb;
  width: 430px;
  min-height: 350px;
  border-radius: 5px;
  position: fixed;
  right: 5%;
  top: 30%;
  background: linear-gradient(to right, #a05dea, #e67e22);
  z-index: 999;
  overflow: hidden;
}
.dashboard .login-dashboard::before {
  width: 150px;
  height: 150px;
  display: inline-block;
  content: "";
  position: absolute;
  background-image: url("../images/gear.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: -30px;
  right: -30px;
  opacity: 0.05;
  z-index: -1;
}
.dashboard .login-dashboard .pf-border {
  border-bottom: solid 1px #FFF;
}
.dashboard .login-dashboard h4 {
  font-weight: 800;
}
.dashboard .login-dashboard .dashboard-list {
  margin-top: 30px;
}
.dashboard .login-dashboard .dashboard-list ul {
  margin-left: 0;
  padding-left: 0;
}
.dashboard .login-dashboard .dashboard-list ul li {
  list-style-type: none;
  font-size: 1.15rem;
  margin-bottom: 12px;
}
.dashboard .login-dashboard .dashboard-list ul li i {
  color: #FFF;
  padding-right: 10px;
}
.dashboard .btn-gradLoginOne {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-color: rgba(255, 255, 255, 0.3764705882);
}
.dashboard .btn-gradLoginOne:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 10px #000;
}
.dashboard .btn-gradLoginTwo {
  background-image: linear-gradient(to right, #0dacce 0%, #3a7bd5 51%, #0dacce 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-color: rgba(255, 255, 255, 0.3764705882);
}
.dashboard .btn-gradLoginTwo:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 10px #000;
}
.dashboard .btn-gradLoginThree {
  background-image: linear-gradient(to right, #9D50BB 0%, #6E48AA 51%, #9D50BB 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-color: rgba(255, 255, 255, 0.3764705882);
}
.dashboard .btn-gradLoginThree:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  box-shadow: 0 0 10px #000;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: 700;
}

.nav-link {
  color: #FFF;
}
.nav-link:hover {
  color: #000000;
}
.nav-link:hover .dropdown-menu.show {
  display: block !important;
}
.nav-link:focus {
  color: #fff;
}

.nav-link:hover ul.dropdown-menu {
  display: block;
}

.page-item:first-child .page-link {
  border-radius: 0;
}

.page-item:last-child .page-link {
  border-radius: 0;
}

/* .page-link {
    color: #000;
} */
footer {
  background-color: #f4f4f4;
}

.page-title {
  position: relative;
  padding-bottom: 10px;
}
.page-title::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #e0e0e0;
}
.page-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color: #AA076B;
}

.table thead tr th {
  font-size: 0.9rem !important;
  background-color: #ecefff;
}

.user-dropdown {
  margin-left: 20px;
}
.user-dropdown:focus, .user-dropdown:focus-visible {
  border: 0;
  outline: 0;
}
.user-dropdown .adminDropdown {
  color: #fff;
  padding: 0;
}
.user-dropdown .adminDropdown:focus, .user-dropdown .adminDropdown:active, .user-dropdown .adminDropdown:visited, .user-dropdown .adminDropdown:focus-visible {
  border: 0;
  outline: 0;
  color: #fff;
}
.user-dropdown .adminDropdown i {
  font-size: 2rem;
  top: 10px;
  position: relative;
}
.user-dropdown .user {
  position: relative;
  top: -10px;
  text-align: left;
  padding-left: 38px;
  font-size: 0.7rem;
  opacity: 0.7;
}
.user-dropdown .user:focus-visible {
  border: 0;
  outline: 0;
}
.user-dropdown .dropdown-item:focus, .user-dropdown .dropdown-item:active, .user-dropdown .dropdown-item:visited {
  border: 0;
  outline: 0;
}
.user-dropdown .dropdown-menu {
  border-radius: 0;
}
.user-dropdown .dropdown-menu .dropdown-icon {
  padding: 5px;
  background-color: #ccc;
  font-size: 2rem;
}

.main-dashboard .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e2e7f1;
  border-radius: 0.25rem;
}
.main-dashboard .card-body {
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}
.main-dashboard .apex-charts {
  min-height: 10px !important;
}
.main-dashboard .apexcharts-canvas {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-dashboard .resize-triggers, .main-dashboard .resize-triggers > div, .main-dashboard .contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.main-dashboard .apexcharts-tooltip {
  border-radius: 5px;
  box-shadow: 2px 2px 6px -4px #999;
  cursor: default;
  font-size: 14px;
  left: 62px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  z-index: 12;
  transition: 0.15s ease all;
}
.main-dashboard .resize-triggers {
  animation: 1ms resizeanim;
  visibility: hidden;
  opacity: 0;
}
.main-dashboard .fs-13 {
  font-size: 13px !important;
}
.main-dashboard .fs-12 {
  font-size: 12px !important;
}
.main-dashboard .profile-icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
}
.main-dashboard .iq-bg-primary {
  background: #e7ecee !important;
  color: #3f414d !important;
}
.main-dashboard .text-primary {
  color: #1e3d73 !important;
}
.main-dashboard .ml-3 {
  margin-left: 10px;
}
.main-dashboard .media-support-info {
  flex: 1;
}
.main-dashboard .recent-transactions .user-icon {
  padding: 4px 5px;
  background-color: #f0f0f0;
  font-size: 1.5rem;
  line-height: 1rem;
  border-radius: 3px;
  margin-right: 10px;
  color: #1e3d73;
}
.main-dashboard .recent-transactions .font-size-14 {
  font-size: 14px !important;
}
.main-dashboard .recent-transactions h6 {
  margin-bottom: 0;
}

.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -4px;
}

.bg-one {
  background-color: #e0e7ff;
}

.input-group .btn i {
  color: #333;
}
.input-group .btn:hover i {
  color: #ff9800;
}

.spn-group .border {
  border-color: #999 !important;
}
.spn-group .btn {
  border-radius: 0;
  border-left: 0 !important;
}

.btn-view {
  padding: 4px 10px;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  color: #a25ee3;
  font-size: 0.8rem;
  font-weight: 600;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.btn-view:hover {
  color: #fff;
  border-radius: 0;
  background: linear-gradient(to right, #a05dea, #e67e22);
}

.list-icon {
  position: relative;
}
.list-icon::before {
  width: 15px;
  height: 9px;
  position: absolute;
  display: inline-block;
  content: "";
  vertical-align: -0.125em;
  background-image: url("../images/check2-all.svg");
  background-repeat: no-repeat;
  background-size: cover;
  left: -28px;
  top: 8px;
}

.datepicker {
  padding: 10px;
  background-color: #fff;
}
.datepicker table {
  width: 100%;
}
.datepicker table th, .datepicker table td {
  font-size: 12px;
  background-color: #f1f1f1;
  border: solid 1px #fff;
  text-align: center;
  cursor: pointer;
}
.datepicker table th:hover, .datepicker table td:hover {
  background-color: #a05dea;
  color: #fff;
}

.btn-primary {
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(to right, #0dacce 0%, #3a7bd5 51%, #0dacce 100%);
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-color: rgba(255, 255, 255, 0.3764705882);
  opacity: 1;
}

.btn-primary:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */